* {
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    color: rgb(41, 41, 41);
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F2;
}

/*DROPDOWN AND HEADER*/

header {
    /*background: #D3D9DE;*/
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
    
}

header a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

footer {
    height: 40px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Sides Navigation */

.sides-1 {
    width: 100px;
    height: 100vh;
    padding: 30px 0 120px 0;
    position: fixed;
    right: 100;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

.sides-2 {
    width: 100px;
    height: 100vh;
    padding: 30px 0 120px 0;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

nav>a {
    display: block;
    border: 0.5px solid black;
    border-top-right-radius: 3px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 0 black;
    padding: 10px;
    margin: 12px auto;
    text-decoration: none;
}

.vertical {
    writing-mode: vertical-lr;
  }

/* Content */

.content {
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

article.cover {
    max-height: 90vh;
    max-width: 800px;
    margin: 30px auto;
}  

article.cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 6px 40px rgb(0 0 0 / 15%);
}

article.post {
    max-width: 800px;
    display: flex;
}

.post-content {
    text-align: right;
    line-height: 1.2rem;
  }

.column {
    width: 50%;
    padding: 0 20px;
}

.framed {
    max-width: 860 px;
    border: 1px solid black;
    padding: 50px;
    margin: 20px 0;
}

/* Fonts and Effects*/

a {
    font-size: 0.88rem; 
    transition: all 0.35s;
    text-align: center;
}

p {
    font-size: 0.83rem;
    line-height: 1.2rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p.post-meta {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

h1 {
    font-size: 1.3rem;
    font-style: italic;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    font-style: italic;
    font-size: 2.1rem;
    font-weight: bolder;
    margin: 10px 0 10px;
}

h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h4 {
    font-size: 0.83rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-style: italic;
}


blockquote {
    border-left: 2px solid;
    margin: 20px 40px;
    padding: 10px 20px;
  }

nav a:hover {
    background-color: #D3D9DE;
}
a:active {
    padding: 9px;
    background-color: rgb(41, 41, 41);
}

header a:hover, a.read-more:hover{
    color: blue;
    background-color: none;
}

a.read-more {
    display: inline-flex;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 12px 0;
    font-weight: bold;
    cursor: pointer;
  }

footer>p {
    color: darkgray;
}

/* PHONE */

@media screen and (max-width: 900px) {
   
    article.post {
        flex-direction: column;
    }
    
    article.cover {
        height: auto;
    }


    .framed {
        padding: 30px;
    }
    
    .column {
        width: 100%;
        padding: 0 10px;
    }

    .sides-1, .sides-2 {
        width: inherit;
    }

    nav>a {
        padding: 5px;
        margin: 18px auto;
        display: inline;
    }

    .sides-1 {
        width: 100vw;
        height: inherit;
        justify-content: start;
        padding: 12px 0;
        background-color: black;
        position:initial;
    }

    .content {
        padding: 40px 25px 40px;
    }
    main {
        padding: 0;
    }

    .sides-1 .vertical {
        writing-mode: horizontal-tb;
    }

    .sides-1 h3 {
        color:whitesmoke;
    }
  }

